html {
  margin: 0;
}
body {
  padding: 15px;
  font-size: 14px;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

a {
  color: #BB1E1E;
}

.container {
  display: grid;
}

.section-header {
  color: #BB1E1E;
  font-size: 24px;
  font-weight: 500;
  margin: 15px 0px 5px 0px;
}

.about_me {
  display: grid;
  place-items: center;
  text-align: center;
}

.about_me img{
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 5px;
}

.about_me div {
  justify-content: center;
  flex-direction: column;
}

.company_header {
  background-color: #eee;
  padding: 4px;
}

.company_heading {
  text-align: center;
}

.company_heading p {
  margin: 1px;
  padding-top: 5px;
  color: #777
}

.company_list {
  line-height: 1.5;
}

.skills li {
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
}

.skills a {
  color: black;
  display: inline-block;
  padding: 4px 10px;
  background-color: #eee;;
}

.skills a:hover {
  background-color: #a51a1a;
  color: white;
}